@model IEnumerable<API_Usage.Models.Performance>
<hr />
<h1 align="center"><b><u></b>IEX Trading Application</b></u></h1>
<h2 align="center"><i>This application will help users to get data related to trading as mentioned below</i></h2>
<ol>
    <h2>Sector Performance</h2>
    <p>This returns an array of each sector and performance for the current trading day. Performance is based on each sector ETF.</p>
    <h2>Market Volume</h2>
    <p>This returns real time traded volume on U.S. markets.</p>
    <h2>Effective Spread</h2>
    <p>
        This returns an array of effective spread, eligible volume, and price improvement of a stock, by market. Lower effectiveSpread and higher priceImprovement values are generally considered optimal.
        Effective spread is designed to measure marketable orders executed in relation to the market center’s quoted spread and takes into account hidden and midpoint liquidity available at each market center.
    </p>
    <h2>Top Gainers</h2>
    <p>This returns top 10 gainer.</p>
</ol>
<hr />
<center>
<h2>Team members</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Information
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                Abhinav Abhishek
            </td>
            <td>MS BAIS Fall 2018 - Fall 2019</td>
        </tr>

        <tr>
            <td>
                Purva Koregave
            </td>
            <td>MS BAIS Fall 2018 - Spring 2020</td>
        </tr>

        <tr>
            <td>
                Raghav Ramky
            </td>
            <td>MS BAIS Fall 2018 - Fall 2019</td>
        </tr>

    </tbody>
</table>
</center>
<hr />
<a href="https://github.com/Purva26-Koregave/API_Usage">GitHub Repository</a>