@model IEnumerable<API_Usage.Models.EffSpread>

<h2>Effective Spread</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                venue Name
            </th>
            <th>
                Price Improvement
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.venueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.priceImprovement)
                    </td>
                </tr>

            

        }

    </tbody>
</table>