@model IEnumerable<API_Usage.Models.Performance>
<h2>Sector Performance</h2>
<hr />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Performance
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.performance)
                </td>
            </tr>



        }

    </tbody>
</table>