@model IEnumerable<API_Usage.Models.Performance>
<h2>Sector Performance</h2>
<hr />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Performance (change percent of the sector for the trading day)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.performance)
                </td>
            </tr>



        }

        <tr>
            <td>
                <a id="dbopt" asp-controller="Home" asp-action="PopulatePerformance"><img src="~/img/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
